:root {
  /* PRIMARY COLORS */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* NEUTRAL COLORS */
  --transparent-white-p: hsla(0, 0%, 100%, 0.75);
  --very-light-grayish-blue: hsl(0, 0%, 95%);

  /* FONTS */
  --font-deca: "Lexend Deca", sans-serif;
  --font-shoulder: "Big Shoulders Display", sans-serif;

  --w400: 400;
  --w700: 700;

  --font-size: 15px;
}

body {
  background-color: var(--very-light-grayish-blue);
}

.preview-card {
  max-width: 1440px;
  width: 800px;
  height: 90%;
  /* height: 400px; */
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 36px;
}

.preview-card .card-left {
  background-color: var(--bright-orange);
  border-radius: 8px 0px 0px 8px;
}

.preview-card .card-main {
  background-color: var(--dark-cyan);
}

.preview-card .card-right {
  background-color: var(--very-dark-cyan);
  border-radius: 0px 8px 8px 0px;
}

h2 {
  color: var(--very-light-grayish-blue);
  font-family: var(--font-shoulder);
  font-weight: var(--w700);
  font-size: 2.5rem;
  margin-top: 36px;
  margin-bottom: 36px;
}

p {
  color: var(--transparent-white-p);
  font-family: var(--font-deca);
  font-weight: var(--w400);
  font-size: 14px;
  line-height: 1.5;
}

button {
  margin-top: 36px;
  background-color: var(--transparent-white-p);
  border: none;
  width: 128px;
  height: 40px;
  border-radius: 9999px;
  font-family: var(--font-deca);
  font-weight: var(--w700);
  font-size: 14px;
}

.btn-left {
  color: var(--bright-orange);
}
.btn-main {
  color: var(--dark-cyan);
}
.btn-right {
  color: var(--very-dark-cyan);
}

.btn-left:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--transparent-white-p);
  color: var(--transparent-white-p);
}
.btn-main:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--transparent-white-p);
  color: var(--transparent-white-p);
  color: var(--transparent-white-p);
}
.btn-right:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--transparent-white-p);
  color: var(--transparent-white-p);
  color: var(--transparent-white-p);
}

@media (max-width: 900px) {
  .preview-card {
    width: 300px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
  }

  .preview-card .card-left {
    border-radius: 8px 8px 0px 0px;
  }

  .preview-card .card-right {
    border-radius: 0px 0px 8px 8px;
  }
}
